* {
    box-sizing: border-box;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline {
    text-align: center;
    margin-bottom: 5rem;
}

.play-now-div{
    @include flexCenter();
    margin-top: 5rem;
}